* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 253, 208);
}

.container {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    
}

.form-box {
    background: white;
    padding: 25px;
    width:350px ;
    border-radius: 8px;   
    /* display: none; */
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.form-box button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.form-box button:hover {
    background: #0056b3;
}

.link {
    text-align: center;
    margin-top: 10px;
    color: #007BFF;
    cursor: pointer;
}
.link a{
    text-align: center;
    margin-top: 10px;
    color: #007BFF;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}
