body{
    margin: 0;
    padding: 0;
}
/* admin title */
.admin-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #2c3e50;
    color: white;
    margin-top: 0;
    height: 60px;
    border-bottom: 3px solid #3498db;
}
.admin-title .logout{
    margin-right: 30px;
    width: 80px;
    height: 30px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: red;
    color: aliceblue;
    display: flex;                
    justify-content: center;      
    align-items: center;          
    border: none;
    text-align: center;           
    text-decoration: none;
    font-weight: bold;           
    cursor: pointer;
}
/* admin-dashboard */
.nav-dashboard{
    display: flex;
    margin: 0;
}
/* nav-part */
.nav{
    margin: 0;
    width: 250px;
    height: 100vh;
    background-color: #34495e;

}
.nav-list{
    margin: 0;
    padding: 0;
}
.nav-item {
    width: auto;
    height: 30px; 
    list-style: none;
    padding-top: 10px;
    padding-left: 10px;
    text-decoration: none;
    cursor: pointer;
    
}
.nav-item a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.nav-item:hover{
    background-color: #3498db;
    color: white;
}
/* Home */
.dashboard{
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #ecf0f1;
}

#search-by-room-name {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-left: 50px;
    align-items: center;
}
#search-by-room-name .search {
    padding: 8px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
#search-by-room-name .search-rname {
    padding: 8px 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
/* table wrapper */
.outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.table-wrapper {
    width: 90%;
    max-height: 200px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* table styles */
.summary-table {
    border-collapse: separate;
    display: block;
    overflow-y: auto;
    width: 100%; 
    max-height: 250px;
    border-spacing: 0px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.summary-table th,
.summary-table td {
    width: 10%;                   
    padding: 12px 15px;

}

.summary-table thead {
    background-color: #34495e;
    color: white;
    position: sticky;
    top: 0;
}

.summary-table th {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #2c3e50;
}

.summary-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ecf0f1;
}


.summary-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.summary-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
.summary-table tbody td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

